.btn-primary {
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    color: #fff;
}
.btn-primary:hover {
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    color: #fff;
}

.btn-outline-primary {
    background-color: #fff;
    border-color: #1A1A1A;
    color: #1A1A1A;
}
.btn-outline-primary:hover {
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    color: #fff;
}

.border-primary {
    border-color: #1A1A1A !important;
}

.text-primary {
    color: #1A1A1A !important;
}